parameters:
    excludePaths:
        - tests/fixtures/*
    ignoreErrors:
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - identifier: missingType.iterableValue
